<footer class="footer clearfix">
	<div class="contact">
		<p class="details">If you want to hire me or work with me on people and things, you can contact me through my company, <a href="http://asquera.de">Asquera GmbH</a>. If you have a personal inquiry, use the contact email.</p>
	</div>
	<div class="links">
		<ul class="clearfix">
			<li class="details"><a href="/blog/2013.html">Archive</a></li>
			<li class="details"><a href="/rss.rss">RSS</a></li>
			<li class="details"><a href="mailto:flo@andersground.net">Contact</a></li>
		</ul>
	</div>
</footer>