<img id="logo" src="/images/logo.png"/>
<h1>
  <a href="/">People and things</a></h1>
    <div id="intro">
     <p class="subTitle details">My personal comments on (programming) culture in general, technical details can be found on the <a href="http://asquera.de/blog">Asquera blog</a>.</p>
    </div>
    <hr>