<nav class="clearfix">
          <span class="navLinks details">
<a href="/profile.html"><i class="icon-male"></i>About me</a>
<a href="http://twitter.com/argorak"><i class="icon-twitter"></i>Twitter</a><a href="http://github.com/skade"><i class="icon-github"></i>Github</a><a href="/rss.rss"><i class="icon-rss"></i>RSS</a><a class="last" href="mailto:flo@andersground.net"><i class="icon-envelope-alt"></i>Contact</a></span>
</nav>