---
title: About me
---

<img id="profile_picture" class="frameless" src="images/profile.png"/>
<h1 class="mono">$whoami</h1>
<p>My name is Florian Gilcher. I am a Rubyist, currently based in Berlin. Last years Florian is someone else and we tend not to get along. Oddly enough, I only moved to Berlin in June 2013, but was present in the community quite a while before. Before that, I lived in beautiful <a href="http://en.wikipedia.org/wiki/Speyer">Speyer</a>, Rhineland-Palatinate.</p>
<p>For about 3 years now, I run a small software consultancy called Asquera in Berlin together with my brother, Felix. While we are all good Ruby developers, our main focus is on building great infrastructures and backends - using any technology available.</p>
<p>Beyond my day job, I organize community events like eurucamp or germany.rb. I am involved in the Ruby Berlin e.V., a charity to support the programming language Ruby, and am honored to work with all the great people there. I do not only run conferences, but also speak at them. You can contact me for invitations, if you want to. My preference is clearly on community events with open and fair submission style.</p>

<h2 id="community-events">Community events</h2>

<p>I was conference chair at the following events:</p>

<ul>
  <li><a target="_blank" href="http://2013.eurucamp.org">eurucamp 2013</a></li>
  <li><a target="_blank" href="http://2013.jrubyconf.org">JRubyConf.EU 2013</a></li>
  <li><a target="_blank" href="http://2012.eurucamp.org">eurucamp 2012</a></li>
  <li><a target="_blank" href="http://2012.jrubyconf.eu">JRubyConf.EU 2012</a></li>
  <li><a target="_blank" href="http://www.ruby-lang.org/de/news/2011/06/23/germany-rb-2011-in-leipzig/">germany.rb 2011</a></li>
  <li><a target="_blank" href="http://www.ruby-lang.org/de/news/2010/09/15/germany-rb-2010-in-leipzig/">germany.rb 2010</a></li>
</ul>

<p>I started the following users groups:</p>

<ul>
  <li><a target="_blank" href="http://www.meetup.com/ElasticSearch-UG-Berlin/">elasticsearch users group Berlin</a></li>
  <li><a target="_blank" href="http://www.meetup.com/Berlin-Vagrant-UG/">vagrant users group Berlin</a></li>
</ul>

<h2 id="open-source">Open Source involvements</h2>

<p>I am involved in the following open source projects:</p>

<ul>
  <li><a target="_blank" href="http://padrinorb.org">Padrino</a> Core Member</li>
  <li><a target="_blank" href="http://github.com/asquera/eson">Eson</a>, an elasticsearch client in Ruby</li>
</ul>

<h2 id="talk">Talks</h2>

I spoke on the following conferences (links go to videos, if available):

<ul>
  <li>Cloud Developer Camps Frankfurt, Düsseldorf, Munich</li>
  <li><a target="_blank" href="http://vimeo.com/album/2384821/video/66153905">How ops improved my dev - devopsdays Paris</a></li>
  <li><a target="_blank" href="http://www.youtube.com/watch?v=tgHMLkMCvzs">A la carte, please! - wroclove.rb 2013</a></li>
  <li><a target="_blank" href="http://vimeo.com/album/2344729/video/63288024">Self-improvement for pros - RubyConf Argentina 2012</a></li>
  <li><a target="_blank" href="http://www.youtube.com/watch?v=BYmHOF58bDY">Fear of adding processes - wroclove.rb 2012</a></li>
  <li>Padrino - eurucamp 2011</li>
  <li>Encoding in Ruby 1.9 - EuRuKo 2010</li>
  <li>Wilson documents Sinatra - RubyKaigi 2009 (Lightning Talk)</li>
  <li><a target="_blank" href="http://blip.tv/euruko/euruko2009-first-seasson-of-lightning-talks-2610508">EuRuKo 2009 (Lightning Talk)</a></li>
  <li>pattern matching methods in Ruby - EuRuKo 2008 (Lightning Talk)</li>
</ul>

<h2 id="publications">Publications</h2>

<p>I was one of the regular authors of Railsway magazine. It is now discontinued, together with its website.</p>
