---
title: About me
---

<img id="profile_picture" class="frameless" src="images/profile.png"/>
<h1>$whoami</h1>
<p>My name is Florian Gilcher. Currently, I am a Berlin based Rubyist. Last years Florian is someone else and we tend not to get along. Oddly enough, I only moved to Berlin in June 2013, but was present in the community quite a while before. Before that, I lived in beautiful Speyer, Rhineland-Palatinate.</p>
<p>For about 3 years now, I run a small software consultancy called Asquera in Berlin together with my brother, Felix. While we are all good Ruby developers, our main focus is on building great infrastructures and backends - using any technology available.</p>
<p>Beyond my day job, I organize community events like eurucamp or germany.rb. I am involved in the Ruby Berlin e.V., a charity to support the programming language Ruby, and am honored to work with all the great people there. I do not only run conferences, but also speak at them. You can contact me for invitations, if you want to. My preference is clearly on community events with open and fair submission style.</p>

<h2 id="community-events">Community events</h2>

<p>I was conference chair at the following events:</p>

<ul>
  <li>eurucamp 2013</li>
  <li>JRubyConf.EU 2013</li>
  <li>eurucamp 2012</li>
  <li>germany.rb 2</li>
  <li>germany.rb 1</li>
</ul>

<p>I started the following users groups:</p>

<ul>
  <li>elasticsearch users group Berlin</li>
  <li>vagrant users group Berlin</li>
</ul>

<h2 id="open-source">Open Source involvements</h2>

<p>I am involved in the following open source projects full time:</p>

<ul>
  <li>Padrino Core Member</li>
  <li>Eson, an elasticsearch client in Ruby</li>
</ul>

<h2 id="talk">Talks</h2>

I spoke on the following conferences (links go to videos, if available):

<ul>
  <li>Cloud Developer Camps Frankfurt, Düsseldorf, Munich</li>
  <li>devopsdays Paris</li>
  <li>wroclove.rb 2013</li>
  <li>RubyConf Argentina 2012</li>
  <li>wroclove.rb 2012</li>
  <li>eurucamp 2011</li>
  <li>EuRuKo 2010</li>
  <li>RubyKaigi 2009 (Lightning Talk)</li>
  <li>EuRuKo 2009 (Lightning Talk)</li>
  <li>EuRuKo 2008 (Lightning Talk)</li>
</ul>

