---
title: About me
---

<img id="profile_picture" class="frameless" src="images/profile.png"/>
<h1 class="mono">$whoami</h1>
<p>My name is Florian Gilcher. I am a Rubyist from the mythical time before Rails, currently based in Berlin. Last years Florian is someone else and we tend not to get along. Oddly enough, I only moved to Berlin in June 2013, but was present in the community quite a while before. Before that, I lived in beautiful <a href="http://en.wikipedia.org/wiki/Speyer">Speyer</a>, Rhineland-Palatinate.</p>
<p>For about 3 years now, I run a small software consultancy called <a href="http://asquera.de">Asquera</a> in Berlin together with my brother, Felix. While all of our developers are good Ruby developers, our main focus is on building great infrastructures and backends - using any technology available.</p>
<p>Beyond my day job, I organize community events like eurucamp or germany.rb. I am involved in the Ruby Berlin e.V., a charity to support the programming language Ruby, and am honored to work with all the great people there. I do not only run conferences, but also speak at them. You can contact me for invitations, if you want to. My preference is clearly on community events with open and fair submission style. I support Code of Conducts and evangelize for using them.</p>

<h2 id="multi-technologist">Multi-Technologist</h2>

I am interested in a number of technologies, both professionally and as a hobby.

I am a full-stack developer, interested in clean and good solutions both in the front and in the backend.

<h3 id="programming-languages">Programming languages</h3>

<ul>
  <li>Ruby</li>
  <li>Java</li>
  <li>Python</li>
  <li>JavaScript</li>
  <li>Rust</li>
  <li>LaTeX</li>
  <li>Haskell</li>
</ul>

<h3 id="databases">Databases</h3>

<ul>
  <li>Postgres</li>
  <li>Elasticsearch</li>
  <li>CouchDB</li>
  <li>Riak</li>
</ul>

<h2 id="business-owner">Business owner</h2>

I run <a href="http://asquera.de">Asquera GmbH</a> together with my brother.

<h2 id="community-person">Community person</h2>

<p>I was conference chair at the following events:</p>

<ul>
  <li><a target="_blank" href="http://2013.eurucamp.org">eurucamp 2013</a></li>
  <li><a target="_blank" href="http://2013.jrubyconf.eu">JRubyConf.EU 2013</a></li>
  <li><a target="_blank" href="http://2012.eurucamp.org">eurucamp 2012</a></li>
  <li><a target="_blank" href="http://2012.jrubyconf.eu">JRubyConf.EU 2012</a></li>
  <li><a target="_blank" href="http://www.ruby-lang.org/de/news/2011/06/23/germany-rb-2011-in-leipzig/">germany.rb 2011</a></li>
  <li><a target="_blank" href="http://www.ruby-lang.org/de/news/2010/09/15/germany-rb-2010-in-leipzig/">germany.rb 2010</a></li>
</ul>

<p>I started the following users groups:</p>

<ul>
  <li><a target="_blank" href="http://www.meetup.com/ElasticSearch-UG-Berlin/">elasticsearch users group Berlin</a></li>
  <li><a target="_blank" href="http://www.meetup.com/Berlin-Vagrant-UG/">vagrant users group Berlin</a></li>
</ul>

<p>I do community moderation:<p>

<ul>
  <li>emp.de (a german metal community, now defunct)</li>
  <li><a target="_blank" href="http://rubyforen.de">rubyforen.de</a></li>
</ul>

<h2 id="open-source">Open Source involvements</h2>

<p>I am involved in the following open source projects:</p>

<ul>
  <li><a target="_blank" href="http://padrinorb.com">Padrino</a> Core Member</li>
  <li><a target="_blank" href="http://github.com/asquera/eson">Eson</a>, an elasticsearch client in Ruby</li>
</ul>

<p>I am part of the german translation team of <a target="_blank" href="http://ruby-lang.org">the offical Ruby website</a>.

<h2 id="talk">Speaker</h2>

I spoke on the following conferences (links go to videos, if available):

<ul>
  <li>Much more <span class="mono">fn</span> - Rust - wroclove.rb 2013 (Lightning Talk)</li>
  <li><a target="_blank" href="http://rubysauna.org">Full Metal Rüby. On community moderation. - Rubysauna</a></li>
  <li>Unicorns: testing documentation - FOSDEM Testing &amp; Automation track</li>
  <li>Cloud Developer Camps Frankfurt, Düsseldorf, Munich</li>
  <li><a target="_blank" href="http://vimeo.com/album/2384821/video/66153905">How ops improved my dev - devopsdays Paris</a></li>
  <li><a target="_blank" href="http://www.youtube.com/watch?v=tgHMLkMCvzs">A la carte, please! - wroclove.rb 2013</a></li>
  <li><a target="_blank" href="http://vimeo.com/album/2344729/video/63288024">Self-improvement for pros - RubyConf Argentina 2012</a></li>
  <li><a target="_blank" href="http://www.youtube.com/watch?v=BYmHOF58bDY">Fear of adding processes - wroclove.rb 2012</a></li>
  <li>Padrino - eurucamp 2011</li>
  <li>Encoding in Ruby 1.9 - EuRuKo 2010</li>
  <li>Wilson documents Sinatra - RubyKaigi 2009 (Lightning Talk)</li>
  <li><a target="_blank" href="http://blip.tv/euruko/euruko2009-first-seasson-of-lightning-talks-2610508">EuRuKo 2009 (Lightning Talk)</a></li>
  <li>pattern matching methods in Ruby - EuRuKo 2008 (Lightning Talk)</li>
</ul>

<h2 id="podcasts">Podcast guest</h2>

I appeared on the following podcasts:

<ul>
  <li><a target="_blank" href="http://rubykraut.de/padrino">Rubykraut: Padrino (german)</a></li>
  <li><a target="_blank" href="http://geekstammtisch.de/#GST003">Geekstammtisch: Mein Callstack ist kleiner (german)</a></a></li>
</ul>

<h2 id="publications">Writer</h2>

<p>I was one of the regular authors of Railsway magazine. It is now discontinued, together with its website.</p>

<p>I co-authored a paper with the long title <a href="https://www.researchgate.net/publication/220376325_Deriving_business_processes_with_service_level_agreements_from_early_requirements">"Deriving Business Processes With Service Level Agreements From Early Requirements"</a>. It contains my only piece of published Prolog code.</p>
